/* header */

header {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 30px;
  color: MediumAquamarine;
}

.logo span {
  padding-left: 10px;
}

header nav {
  display: inline-block;
  justify-content: space-between;
  padding-right: 40px;
}


/* main content */

.content {
  display: flex;
  justify-content: space-between;

}

.column.large {
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 630px;
  justify-content: space-between;
  padding: 40px;


}

.column.medium {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 300px;
  justify-content: space-between;
  padding: 40px;

}

.column.small {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 240px;
  justify-content: space-between;
  padding: 40px;
}

.image-content {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.image-content span {
  display: flex;
  align-items: flex-start;
  text-align:center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.earth-spins {
  display: flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.catcontrol {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.camera {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.lead-story .image-content {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}


}
span {
  height: 300px;
}
.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
