/* header */

header {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 30px;
  color: MediumAquamarine;
}

.logo span {
  padding-left: 10px;
  border: 1px solid black;
}

header nav {
  display: inline-block;
  justify-content: space-between;
  padding-right: 40px;
}


/* main content */




.content {
  display: flex;
}

.column.large {
  display: flex;
  flex: 2;

  align-items: flex-start;
  flex-wrap: wrap;
  width: 630px;
  border: 1px solid black;
}

.column.medium {
  display: flex;
  flex:1;
  flex-wrap: wrap;
  width: 300px;
  border: 1px solid black;
}

.column.small {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 240px;
  border: 1px solid black;
}
.image-content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  border: 1px solid black;
}
.image-content span{

  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  border: 1px solid black;
}

.earth-spins{
  display:flex;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.catcontrol{
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");

}

.camera{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}


.lead-story .image-content{

  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}


span{
  border: 1px solid black;
  height: 300px;
}
.narrative{
  font-family: Georgia;
  font-size: 17px;
  color: black;
  border: 1px solid black;
}
